@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   background: rgb(49,46,129);
   background: conic-gradient(at 0% 100%, rgb(15, 23, 42), rgb(88, 28, 135), rgb(15, 23, 42));
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
   width: 100vw;
   overflow-x: hidden;
}

h1, h2 {
   font-family: 'Dela Gothic One', display;
}

button, p, a {
   font-family: 'Didact Gothic', sans-serif;
}

#signature {
   position: absolute;
   bottom: 10px;
   left: 10px;
}

@media only screen and (max-width: 768px) {
   #signature {
      position: static;
   }
}